<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>MuKe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<servlet-class>homepage.edu.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>GMLogin</servlet-name>
  	<servlet-class>admin.edu.controller.GMLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GMLogin</servlet-name>
  	<url-pattern>/gmLogin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ManagementSystem</servlet-name>
  	<servlet-class>admin.edu.controller.ManagementSystem</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ManagementSystem</servlet-name>
  	<url-pattern>/managementSystem</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<servlet-name>GMLoginEntrance</servlet-name>
  	<servlet-class>admin.edu.controller.GMLoginEntrance</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GMLoginEntrance</servlet-name>
  	<url-pattern>/gle</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LoginCheck</servlet-name>
  	<servlet-class>admin.edu.controller.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginCheck</servlet-name>
  	<url-pattern>/loginCheck</url-pattern>
  </servlet-mapping>   
  <servlet>
  	<servlet-name>GetGMMessage</servlet-name>
  	<servlet-class>admin.edu.controller.GetGMMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetGMMessage</servlet-name>
  	<url-pattern>/getGMMessage</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<servlet-name>SaveGMChanges</servlet-name>
  	<servlet-class>admin.edu.controller.SaveGMChanges</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveGMChanges</servlet-name>
  	<url-pattern>/saveGMChanges</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<servlet-name>ChangeGMPassword</servlet-name>
  	<servlet-class>admin.edu.controller.ChangeGMPassword</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangeGMPassword</servlet-name>
  	<url-pattern>/changeGMPassword</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetAppointTypeGMMessage</servlet-name>
  	<servlet-class>admin.edu.controller.GetAppointTypeGMMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAppointTypeGMMessage</servlet-name>
  	<url-pattern>/getAppointTypeGMMessage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddCourseType</servlet-name>
  	<servlet-class>admin.edu.controller.AddCourseType</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddCourseType</servlet-name>
  	<url-pattern>/addCourseType</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetCourseType</servlet-name>
  	<servlet-class>admin.edu.controller.GetCourseType</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCourseType</servlet-name>
  	<url-pattern>/getCourseType</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AccountManagement</servlet-name>
  	<servlet-class>admin.edu.controller.AccountManagement</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AccountManagement</servlet-name>
  	<url-pattern>/accountManagement</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GMExit</servlet-name>
  	<servlet-class>admin.edu.controller.GMExit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAllTeacher</servlet-name>
  	<servlet-class>admin.edu.controller.GetAllTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAllTeacher</servlet-name>
  	<url-pattern>/getAllTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GMExit</servlet-name>
  	<url-pattern>/gmExit</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Registered</servlet-name>
  	<servlet-class>homepage.edu.controller.Registered</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Registered</servlet-name>
  	<url-pattern>/registered</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>homepage.edu.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetTeacherMessage</servlet-name>
  	<servlet-class>homepage.edu.controller.GetTeacherMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetTeacherMessage</servlet-name>
  	<url-pattern>/getTeacherMessage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ChangeTeacherInformation</servlet-name>
  	<servlet-class>homepage.edu.controller.ChangeTeacherInformation</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangeTeacherInformation</servlet-name>
  	<url-pattern>/changeTeacherInformation</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<servlet-class>homepage.edu.controller.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TeacherGetCourseType</servlet-name>
  	<servlet-class>homepage.edu.controller.TeacherGetCourseType</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherGetCourseType</servlet-name>
  	<url-pattern>/teacherGetCourseType</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SaveCourse</servlet-name>
  	<servlet-class>homepage.edu.controller.SaveCourse</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveCourse</servlet-name>
  	<url-pattern>/saveCourse</url-pattern>
  </servlet-mapping>
</web-app>