<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>MuKe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<servlet-class>homepage.edu.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>GMLogin</servlet-name>
  	<servlet-class>admin.edu.controller.GMLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GMLogin</servlet-name>
  	<url-pattern>/gmLogin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ManagementSystem</servlet-name>
  	<servlet-class>admin.edu.controller.ManagementSystem</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ManagementSystem</servlet-name>
  	<url-pattern>/managementSystem</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<servlet-name>GMLoginEntrance</servlet-name>
  	<servlet-class>admin.edu.controller.GMLoginEntrance</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GMLoginEntrance</servlet-name>
  	<url-pattern>/gle</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LoginCheck</servlet-name>
  	<servlet-class>admin.edu.controller.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginCheck</servlet-name>
  	<url-pattern>/loginCheck</url-pattern>
  </servlet-mapping>   
  <servlet>
  	<servlet-name>GetGMMessage</servlet-name>
  	<servlet-class>admin.edu.controller.GetGMMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetGMMessage</servlet-name>
  	<url-pattern>/getGMMessage</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<servlet-name>SaveGMChanges</servlet-name>
  	<servlet-class>admin.edu.controller.SaveGMChanges</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveGMChanges</servlet-name>
  	<url-pattern>/saveGMChanges</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<servlet-name>ChangeGMPassword</servlet-name>
  	<servlet-class>admin.edu.controller.ChangeGMPassword</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangeGMPassword</servlet-name>
  	<url-pattern>/changeGMPassword</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetAppointTypeGMMessage</servlet-name>
  	<servlet-class>admin.edu.controller.GetAppointTypeGMMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAppointTypeGMMessage</servlet-name>
  	<url-pattern>/getAppointTypeGMMessage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddCourseType</servlet-name>
  	<servlet-class>admin.edu.controller.AddCourseType</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddCourseType</servlet-name>
  	<url-pattern>/addCourseType</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetCourseType</servlet-name>
  	<servlet-class>admin.edu.controller.GetCourseType</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCourseType</servlet-name>
  	<url-pattern>/getCourseType</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AccountManagement</servlet-name>
  	<servlet-class>admin.edu.controller.AccountManagement</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AccountManagement</servlet-name>
  	<url-pattern>/accountManagement</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GMExit</servlet-name>
  	<servlet-class>admin.edu.controller.GMExit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GMExit</servlet-name>
  	<url-pattern>/gmExit</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<servlet-name>GetAllTeacher</servlet-name>
  	<servlet-class>admin.edu.controller.GetAllTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAllTeacher</servlet-name>
  	<url-pattern>/getAllTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetCourseMessage</servlet-name>
  	<servlet-class>admin.edu.controller.GetCourseMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCourseMessage</servlet-name>
  	<url-pattern>/getCourseMessage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetCoursePromotion</servlet-name>
  	<servlet-class>admin.edu.controller.GetCoursePromotion</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCoursePromotion</servlet-name>
  	<url-pattern>/getCoursePromotion</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddCoursePromotion</servlet-name>
  	<servlet-class>admin.edu.controller.AddCoursePromotion</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddCoursePromotion</servlet-name>
  	<url-pattern>/addCoursePromotion</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetGMPowerTabel</servlet-name>
  	<servlet-class>admin.edu.controller.GetGMPowerTabel</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetGMPowerTabel</servlet-name>
  	<url-pattern>/getGMPowerTabel</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdministratorAccountRegistration</servlet-name>
  	<servlet-class>admin.edu.controller.AdministratorAccountRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdministratorAccountRegistration</servlet-name>
  	<url-pattern>/administratorAccountRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetAllUserMessage</servlet-name>
  	<servlet-class>admin.edu.controller.GetAllUserMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAllUserMessage</servlet-name>
  	<url-pattern>/getAllUserMessage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetCourseResourceMessage</servlet-name>
  	<servlet-class>admin.edu.controller.GetCourseResourceMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCourseResourceMessage</servlet-name>
  	<url-pattern>/getCourseResourceMessage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetAllTestMessage</servlet-name>
  	<servlet-class>admin.edu.controller.GetAllTestMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAllTestMessage</servlet-name>
  	<url-pattern>/getAllTestMessage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetSuggestions</servlet-name>
  	<servlet-class>admin.edu.controller.GetSuggestions</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetSuggestions</servlet-name>
  	<url-pattern>/getSuggestions</url-pattern>
  </servlet-mapping>


  <servlet>
  	<servlet-name>Registered</servlet-name>
  	<servlet-class>homepage.edu.controller.Registered</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Registered</servlet-name>
  	<url-pattern>/registered</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>homepage.edu.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetTeacherMessage</servlet-name>
  	<servlet-class>homepage.edu.controller.GetTeacherMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetTeacherMessage</servlet-name>
  	<url-pattern>/getTeacherMessage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ChangeTeacherInformation</servlet-name>
  	<servlet-class>homepage.edu.controller.ChangeTeacherInformation</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangeTeacherInformation</servlet-name>
  	<url-pattern>/changeTeacherInformation</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<servlet-class>homepage.edu.controller.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TeacherGetCourseType</servlet-name>
  	<servlet-class>homepage.edu.controller.TeacherGetCourseType</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherGetCourseType</servlet-name>
  	<url-pattern>/teacherGetCourseType</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SaveCourse</servlet-name>
  	<servlet-class>homepage.edu.controller.SaveCourse</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveCourse</servlet-name>
  	<url-pattern>/saveCourse</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Exit</servlet-name>
  	<servlet-class>homepage.edu.controller.Exit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Exit</servlet-name>
  	<url-pattern>/exit</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetTeacherCourseMessage</servlet-name>
  	<servlet-class>homepage.edu.controller.GetTeacherCourseMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetTeacherCourseMessage</servlet-name>
  	<url-pattern>/getTeacherCourseMessage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetCourseIntroduction</servlet-name>
  	<servlet-class>homepage.edu.controller.GetCourseIntroduction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCourseIntroduction</servlet-name>
  	<url-pattern>/getCourseIntroduction</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditCourseIdentitlCheck</servlet-name>
  	<servlet-class>homepage.edu.controller.EditCourseIdentitlCheck</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditCourseIdentitlCheck</servlet-name>
  	<url-pattern>/editCourseIdentitlCheck</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CheckTeacherCourse</servlet-name>
  	<servlet-class>homepage.edu.controller.CheckTeacherCourse</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckTeacherCourse</servlet-name>
  	<url-pattern>/checkTeacherCourse</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetCourseIdName</servlet-name>
  	<servlet-class>homepage.edu.controller.GetCourseIdName</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCourseIdName</servlet-name>
  	<url-pattern>/getCourseIdName</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SaveTest</servlet-name>
  	<servlet-class>homepage.edu.controller.SaveTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveTest</servlet-name>
  	<url-pattern>/saveTest</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetTestMessage</servlet-name>
  	<servlet-class>homepage.edu.controller.GetTestMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetTestMessage</servlet-name>
  	<url-pattern>/getTestMessage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditTestIdentitlCheck</servlet-name>
  	<servlet-class>homepage.edu.controller.EditTestIdentitlCheck</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditTestIdentitlCheck</servlet-name>
  	<url-pattern>/editTestIdentitlCheck</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetTestIntroduction</servlet-name>
  	<servlet-class>homepage.edu.controller.GetTestIntroduction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetTestIntroduction</servlet-name>
  	<url-pattern>/getTestIntroduction</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetCourseResource</servlet-name>
  	<servlet-class>homepage.edu.controller.GetCourseResource</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCourseResource</servlet-name>
  	<url-pattern>/getCourseResource</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SaveCourseResource</servlet-name>
  	<servlet-class>homepage.edu.controller.SaveCourseResource</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveCourseResource</servlet-name>
  	<url-pattern>/saveCourseResource</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetUserMessage</servlet-name>
  	<servlet-class>homepage.edu.controller.GetUserMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetUserMessage</servlet-name>
  	<url-pattern>/getUserMessage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ChangeUserInformation</servlet-name>
  	<servlet-class>homepage.edu.controller.ChangeUserInformation</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangeUserInformation</servlet-name>
  	<url-pattern>/changeUserInformation</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserState</servlet-name>
  	<servlet-class>homepage.edu.controller.UserState</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserState</servlet-name>
  	<url-pattern>/userState</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetPromotionCourse</servlet-name>
  	<servlet-class>homepage.edu.controller.GetPromotionCourse</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetPromotionCourse</servlet-name>
  	<url-pattern>/getPromotionCourse</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>HomeGetCourseType</servlet-name>
  	<servlet-class>homepage.edu.controller.HomeGetCourseType</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HomeGetCourseType</servlet-name>
  	<url-pattern>/homeGetCourseType</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetPopularCourses</servlet-name>
  	<servlet-class>homepage.edu.controller.GetPopularCourses</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetPopularCourses</servlet-name>
  	<url-pattern>/getPopularCourses</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetLatestCourses</servlet-name>
  	<servlet-class>homepage.edu.controller.GetLatestCourses</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetLatestCourses</servlet-name>
  	<url-pattern>/getLatestCourses</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetITCourses</servlet-name>
  	<servlet-class>homepage.edu.controller.GetITCourses</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetITCourses</servlet-name>
  	<url-pattern>/getITCourses</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetLiteraryHistoryCourses</servlet-name>
  	<servlet-class>homepage.edu.controller.GetLiteraryHistoryCourses</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetLiteraryHistoryCourses</servlet-name>
  	<url-pattern>/getLiteraryHistoryCourses</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetCourseTypeId</servlet-name>
  	<servlet-class>homepage.edu.controller.GetCourseTypeId</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCourseTypeId</servlet-name>
  	<url-pattern>/getCourseTypeId</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SaveCourseTypeId</servlet-name>
  	<servlet-class>homepage.edu.controller.SaveCourseTypeId</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveCourseTypeId</servlet-name>
  	<url-pattern>/saveCourseTypeId</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdoptCourseTypeSearchCourse</servlet-name>
  	<servlet-class>homepage.edu.controller.AdoptCourseTypeSearchCourse</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdoptCourseTypeSearchCourse</servlet-name>
  	<url-pattern>/adoptCourseTypeSearchCourse</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetAppointCourseIntroduction</servlet-name>
  	<servlet-class>homepage.edu.controller.GetAppointCourseIntroduction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAppointCourseIntroduction</servlet-name>
  	<url-pattern>/getAppointCourseIntroduction</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetAppointCourseResource</servlet-name>
  	<servlet-class>homepage.edu.controller.GetAppointCourseResource</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAppointCourseResource</servlet-name>
  	<url-pattern>/getAppointCourseResource</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ChangeCollectionCourse</servlet-name>
  	<servlet-class>homepage.edu.controller.ChangeCollectionCourse</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangeCollectionCourse</servlet-name>
  	<url-pattern>/changeCollectionCourse</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<servlet-name>CookieExamine</servlet-name>
  	<servlet-class>homepage.edu.controller.CookieExamine</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CookieExamine</servlet-name>
  	<url-pattern>/cookieExamine</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>GetAppointTestInformation</servlet-name>
  	<servlet-class>homepage.edu.controller.GetAppointTestInformation</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAppointTestInformation</servlet-name>
  	<url-pattern>/getAppointTestInformation</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>SaveCourseId</servlet-name>
  	<servlet-class>homepage.edu.controller.SaveCourseId</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveCourseId</servlet-name>
  	<url-pattern>/saveCourseId</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>GetCourseId</servlet-name>
  	<servlet-class>homepage.edu.controller.GetCourseId</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCourseId</servlet-name>
  	<url-pattern>/getCourseId</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>UserSaveCourseResource</servlet-name>
  	<servlet-class>homepage.edu.controller.UserSaveCourseResource</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserSaveCourseResource</servlet-name>
  	<url-pattern>/userSaveCourseResource</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>AccountChecking</servlet-name>
  	<servlet-class>homepage.edu.controller.AccountChecking</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AccountChecking</servlet-name>
  	<url-pattern>/accountChecking</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>GetTest</servlet-name>
  	<servlet-class>homepage.edu.controller.GetTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetTest</servlet-name>
  	<url-pattern>/getTest</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>SavePapers</servlet-name>
  	<servlet-class>homepage.edu.controller.SavePapers</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SavePapers</servlet-name>
  	<url-pattern>/savePapers</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>GetAppointUserAchievementInformation</servlet-name>
  	<servlet-class>homepage.edu.controller.GetAppointUserAchievementInformation</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAppointUserAchievementInformation</servlet-name>
  	<url-pattern>/getAppointUserAchievementInformation</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>GetUserAppointTestAnswer</servlet-name>
  	<servlet-class>homepage.edu.controller.GetUserAppointTestAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetUserAppointTestAnswer</servlet-name>
  	<url-pattern>/getUserAppointTestAnswer</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>GetMyResource</servlet-name>
  	<servlet-class>homepage.edu.controller.GetMyResource</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetMyResource</servlet-name>
  	<url-pattern>/getMyResource</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>GetUserCourseCollection</servlet-name>
  	<servlet-class>homepage.edu.controller.GetUserCourseCollection</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetUserCourseCollection</servlet-name>
  	<url-pattern>/getUserCourseCollection</url-pattern>
  </servlet-mapping> 
   <servlet>
  	<servlet-name>HeatsUp</servlet-name>
  	<servlet-class>homepage.edu.controller.HeatsUp</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HeatsUp</servlet-name>
  	<url-pattern>/heatsUp</url-pattern>
  </servlet-mapping> 
   <servlet>
  	<servlet-name>SaveVideoMessage</servlet-name>
  	<servlet-class>homepage.edu.controller.SaveVideoMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveVideoMessage</servlet-name>
  	<url-pattern>/saveVideoMessage</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>GetVideoMessage</servlet-name>
  	<servlet-class>homepage.edu.controller.GetVideoMessage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetVideoMessage</servlet-name>
  	<url-pattern>/getVideoMessage</url-pattern>
  </servlet-mapping> 
   <servlet>
  	<servlet-name>LearnDataImport</servlet-name>
  	<servlet-class>homepage.edu.controller.LearnDataImport</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LearnDataImport</servlet-name>
  	<url-pattern>/learnDataImport</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>SaveNote</servlet-name>
  	<servlet-class>homepage.edu.controller.SaveNote</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveNote</servlet-name>
  	<url-pattern>/saveNote</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>GetCourseNote</servlet-name>
  	<servlet-class>homepage.edu.controller.GetCourseNote</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCourseNote</servlet-name>
  	<url-pattern>/getCourseNote</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>SourchCourse</servlet-name>
  	<servlet-class>homepage.edu.controller.SourchCourse</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SourchCourse</servlet-name>
  	<url-pattern>/sourchCourse</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>SearchResource</servlet-name>
  	<servlet-class>homepage.edu.controller.SearchResource</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchResource</servlet-name>
  	<url-pattern>/searchResource</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>SaveFeedBack</servlet-name>
  	<servlet-class>homepage.edu.controller.SaveFeedBack</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveFeedBack</servlet-name>
  	<url-pattern>/saveFeedBack</url-pattern>
  </servlet-mapping> 
  
  
</web-app>