<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教师中心-Muke</title>
    <link rel="icon" href="../../static/img/favicon.ico">
	<link href="../../static/bootstrap-4.1.3-dist/css/bootstrap.css" rel="stylesheet"/>
	<script type="text/javascript" src="../../static/jQuery/jquery-3.1.1.min.js"></script>
	<script src="../../static/bootstrap-4.1.3-dist/js/bootstrap.js"></script>

    <script type="text/javascript">
		var pathArray = window.location.pathname.split('/');
		var secondLevelLocation = pathArray[1];
		var url = window.location.protocol + "//" + window.location.host
				+ "/" + secondLevelLocation;

        //管理员个人信息修改
        function save_teacher_changes() {
            var post_method = 
            $.ajax({
                url: url+'/changeTeacherInformation',
                type: 'post',
                data: {
                	"teacherEmail" : $("#teacherEmail").val() ,
                	"teachersSchool" : $("#teachersSchool").val() ,
                	"teacherTel" : $("#teacherTel").val() ,
                	"teachersSchoolEmail" : $("#teachersSchoolEmail").val()
                },
                dataType: 'json',
                success: function (response) {
                	if(response.state){
                		alert("修改成功!");
    	                $("#teachersSchool").val(response.teachersSchool);
    	                $("#teacherTel").val(response.teacherTel);
    	                $("#teacherEmail").val(response.teacherEmail);
    	                $("#teachersSchoolEmail").val(response.teachersSchoolEmail);              		
                	}else{
                 		alert("修改失败!");
                    	window.open("home.html", "_self").close();         		
                	}
                },
                error: function (err) {
                    alert("错误");
                }
            });
        }
        
        //密码检查(php的写在后端)
        function checkPassword(oldPassword,newPassword,newPasswordR){
        	if(oldPassword==newPassword){
        		alert("新密码不可与原密码相同!");
        		return false;
        	}
        	if(newPassword!=newPasswordR){
        		alert("两次密码不一致!");
        		return false;
        	}
        	var ps=/^[0-9a-zA-Z]{6,12}$/;
        	if(ps.test(newPassword)){
        		return true;
        	}else{
        		alert("两次新密码不符合规范,请使用数字或字母且长度在6-12之间!");
        		return false;
        	}
        	
        }

        //密码修改
        function save_teacher_change_password() {
        	var oldPassword=$("#teacherOldPassword").val();
        	var newPassword=$("#teacherNewPassword").val();
        	var newPasswordR=$("#teacherNewPasswordR").val();
        	if(checkPassword(oldPassword,newPassword,newPasswordR)){
	        	dataStr={
	        			"oldPassword" : oldPassword,
	                	"newPassword" : newPassword}
	            $.ajax({
	                url: url+'/changePassword',
	                type: 'post',
	                data: dataStr,
	                dataType: 'json',
	                success: function (response) {
	                 	alert(response.message);
	                 	$("#teacherOldPassword").val("");
	                 	$("#teacherNewPassword").val("");
	                 	$("#teacherNewPasswordR").val("");
	                },
	                error: function (err) {
	                    alert("错误");
	                }
	            });        		
        	}
        }

        //获取数据
        var curPage = 1; //当前页码
        var total, pageSize, totalPage;//总记录数，每页记录数，总页数
        //意见箱
        function suggestions() {
            loading_suggestions(1);
            $("#pagecount").on("click", "a", function () {
                var rel = $(this).attr("rel");
                if (rel) {
                    loading_suggestions(rel);
                }
            });
        }

        //用户管理
        function user() {
            loading_user(1);
            $("#user-pagecount").on("click", "a", function () {
                var rel = $(this).attr("rel");
                if (rel) {
                    loading_user(rel);
                }
            });
        }

        //教师管理
        function teacher() {
            loading_teacher(1);
            $("#teacher-pagecount").on("click", "a", function () {
                var rel = $(this).attr("rel");
                if (rel) {
                    loading_teacher(rel);
                }
            });
        }

        //课程管理
        function course() {
            loading_course(1);
            $("#course-pagecount").on("click", "a", function () {
                var rel = $(this).attr("rel");
                if (rel) {
                    loading_course(rel);
                }
            });
        }

        //测试卷管理
        function test() {
            loading_test(1);
            $("#test-pagecount").on("click", "a", function () {
                var rel = $(this).attr("rel");
                if (rel) {
                    loading_test(rel);
                }
            });
        }

        //资源管理
        function resource() {
            loading_resource(1);
            $("#resource-pagecount").on("click", "a", function () {
                var rel = $(this).attr("rel");
                if (rel) {
                    loading_resource(rel);
                }
            });
        }

        //加载课程信息
        function loading_course(page) {
            $.ajax({
                type: 'POST',
                url: url+'/getTeacherCourseMessage',
                data: {'pageNum': page - 1},
                dataType: 'json',
                beforeSend: function () {
                    $("#course-list").append("加载中...");
                },
                success: function (json) {
                    $("#course-list").empty();
                    total = json.total;
                    pageSize = json.pageSize;
                    curPage = page;
                    totalPage = json.totalPage;
                    var li = "";
                    var list = json.courseList;
                    $.each(list, function (index, array) {
                        li += "<tr>" +
                            "<th scope=\"row\">" + array['courseId'] + "</th>" +
                            "<td>" + array['courseName'] + "</td>" +
                            "<td>" + array['courseClassStr'] + "</td>" +
                            "<td id=\"" + array['courseId'] + "\">" + array['courseStatusStr'] + "</td>" +
                            "<td style=\"text-align: center\"><span class=\"btn badge badge-danger\" onclick=\"operation(" + array['courseId'] + ",3,3);\">删除</span><span class=\"btn badge badge-light\" style=\"margin-left: 6px;margin-right: 6px\" onclick=\"operation(" + array['courseId'] + ",2,3);\">冻结</span><span class=\"btn badge badge-success\" onclick=\"operation(" + array['courseId'] + ",1,3);\">恢复</span><span class=\"btn badge badge-info\" style=\"margin-left: 24px\" onclick=\"change_course(" + array['courseId'] + ");\">编辑</span></td>" +
                            "</tr>";
                    });
                    $("#course-list").append(li);
                },
                complete: function () {
                    // getPageBar();
                    $("#course-pagecount").html(getPageBar());
                },
                error: function () {
                    alert("数据加载失败");
                }
            });
        }

        //加载测试卷信息
        function loading_test(page) {
            $.ajax({
                type: 'POST',
                url: url+'/getTestMessage',
                data: {'pageNum': page - 1},
                dataType: 'json',
                beforeSend: function () {
                    $("#test-list").append("加载中...");
                },
                success: function (json) {
                    $("#test-list").empty();
                    total = json.total;
                    pageSize = json.pageSize;
                    curPage = page;
                    totalPage = json.totalPage;
                    var li = "";
                    var list = json.testList;
                    $.each(list, function (index, array) {
                        li += "<tr>" +
                            "<th scope=\"row\">" + array['testId'] + "</th>" +
                            "<td>" + array['testName'] + "</td>" +
                            "<td>" + array['courseId'] + "</td>" +
                            "<td id=\"" + array['testId'] + "\">" + array['testStatusStr'] + "</td>" +
                            "<td style=\"text-align: center\"><span class=\"btn badge badge-danger\" onclick=\"test_operation(" + array['testId'] + ",3,5);\">删除</span><span class=\"btn badge badge-light\" style=\"margin-left: 6px;margin-right: 6px\" onclick=\"test_operation(" + array['testId'] + ",2,5);\">冻结</span><span class=\"btn badge badge-success\" onclick=\"test_operation(" + array['testId'] + ",1,5);\">恢复</span><span class=\"btn badge badge-info\" style=\"margin-left: 24px\" onclick=\"change_test(" + array['testId'] + "," + array['courseId'] + ");\">编辑</span></td>" +
                            "</tr>";
                    });
                    $("#test-list").append(li);
                },
                complete: function () {
                    // getPageBar();
                    $("#test-pagecount").html(getPageBar());
                },
                error: function () {
                    alert("数据加载失败");
                }
            });
        }

        //加载课程资源信息
        function loading_resource(page) {
            $.ajax({
                type: 'POST',
                url: url+'/getCourseResource',
                data: {'pageNum': page - 1},
                dataType: 'json',
                beforeSend: function () {
                    $("#resource-list").append("加载中...");
                },
                success: function (json) {
                    $("#resource-list").empty();
                    total = json.total;
                    pageSize = json.pageSize;
                    curPage = page;
                    totalPage = json.totalPage;
                    var li = "";
                    var list = json.courseResouceList;
                    $.each(list, function (index, array) {
                        li += "<tr>" +
                            "<th scope=\"row\">" + array['resourceId'] + "</th>" +
                            "<td>" + array['resourceName'] + "</td>" +
                            "<td>" + array['courseId'] + "</td>" +
                            "<td id=\"" + array['resourceId'] + "\">" + array['resourceAccountStr'] + "</td>" +
                            "<td style=\"text-align: center\"><span class=\"btn badge badge-danger\" onclick=\"resource_operation(" + array['resourceId'] + ",3,7);\">删除</span><span class=\"btn badge badge-light\" style=\"margin-left: 6px;margin-right: 6px\" onclick=\"resource_operation(" + array['resourceId'] + ",2,7);\">冻结</span><span class=\"btn badge badge-success\" onclick=\"resource_operation(" + array['resourceId'] + ",1,7);\">恢复</span></td>" +
                            "</tr>";
                    });
                    $("#resource-list").append(li);
                },
                complete: function () {
                    // getPageBar();
                    $("#resource-pagecount").html(getPageBar());
                },
                error: function () {
                    alert("数据加载失败");
                }
            });
        }

        //获取分页条(通用)
        function getPageBar() {
            //页码大于最大页数
            if (curPage > totalPage) {
                curPage = totalPage;
            }
            //页码小于1
            if (curPage < 1) {
                curPage = 1;
            }

            pageStr = "<span>共" + total + "条</span>&nbsp;&nbsp;<span>" + curPage + "/" + totalPage + "</span>&nbsp;&nbsp;";

            // pageStr="";

            //如果是第一页
            if (curPage == 1) {
                pageStr += "<span>首页</span>&nbsp;&nbsp;<span>上一页</span>&nbsp;&nbsp;";
            } else {
                pageStr += "<span><a href='javascript:void(0)' rel='1'>首页</a>&nbsp;</span>" +
                    "<span>&nbsp;&nbsp;<a href='javascript:void(0)' rel='" + (curPage - 1) + "'>上一页</a> </span>&nbsp;&nbsp;";
            }

            //如果是最后一页
            if (curPage >= totalPage) {
                pageStr += "<span>下一页</span>&nbsp;&nbsp;<span>尾页</span>"
            } else {
                pageStr += "<span><a href='javascript:void(0)' rel='" + (parseInt(curPage) + 1) + "'>下一页</a></span>&nbsp;&nbsp;" +
                    "<span><a href='javascript:void(0)' rel='" + totalPage + "'>尾页</a> </span>";
            }

            return pageStr;
            // $("#pagecount").html(pageStr);
        }

        //状态更改
        //id：对象id
        //sign:操作指令代号
        //   0：待审核
        //   1：正常
        //   2：冻结
        //   3：注销
        //课程状态更改
        function operation(courseId, sign,category) {
            // alert("你确定要对"+id+"执行"+sign+"操作吗?");
            $.ajax({
                type: 'POST',
                url: url+'/accountManagement',
                data: {'id': courseId, 'sign': sign,'category':category},
                dataType: 'json',
                success: function (json) {
                    alert(json.result);
                    if (sign == 3) {
                        //如果是删除则更新列表
                        course();
                    } else {
                        $("#course-list #" + courseId).html(json.result);
                    }

                },
                error: function () {
                    alert("操作失败");
                }
            });
        }

        //课程资源状态更改
        function resource_operation(resourceId, sign,category) {
            // alert("你确定要对"+id+"执行"+sign+"操作吗?");
            $.ajax({
                type: 'POST',
                url: url+'/accountManagement',
                data: {'id': resourceId, 'sign': sign,'category':category},
                dataType: 'json',
                success: function (json) {
                    // alert(json.state);
                    if (sign == 3) {
                        //如果是删除则更新列表
                        resource();
                    } else {
                        $("#resource-list #" + resourceId).html(json.result);
                    }
                    // $("#resource-list #" + resourceId).html(json.state);
                },
                error: function () {
                    alert("操作失败");
                }
            });
        }

        //课程测试卷状态更改
        function test_operation(testId, sign,category) {
            // alert("你确定要对" + testId + "执行" + sign + "操作吗?");
            $.ajax({
                type: 'POST',
                url: url+'/accountManagement',
                data: {'id': testId, 'sign': sign,'category':category},
                dataType: 'json',
                success: function (json) {
                    // alert(json.state);
                    if (sign == 3) {
                        //如果是删除则更新列表
                        test();
                    } else {
                        $("#test-list #" + testId).html(json.result);
                    }

                },
                error: function () {
                    alert("操作失败");
                }
            });
        }

        //教师退出
        function teacher_exit_xuesi() {
            $.ajax({
                type: 'POST',
                url: url+'/exit',
                success: function (json) {
                	location.href = 'home.html';
                },
                error: function () {
                    alert("操作失败");
                }
            });
        }

        //数据返回后端处理结果反馈给用户，便于指导用户正确操作
        //100-199:状态相关(登陆/注册成功)
        //200-299：账号相关(Id/邮箱/电话号码检测)
        //300-399：密码相关(密码检测)
        //400-499:个人信息相关(信息修改)
        function statHandler() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                var msg = xmlHttp.responseText;
                if (msg == 901) {
                    alert("账号密码不可为空！");
                } else if (msg == 902) {
                    alert("请检查你的账号是否正确!");
                } else if (msg == 903) {
                    alert("登录失败，请检查密码是否正确!");
                } else if (msg == 904) {
                    alert("登陆成功!");
                    location.href = 'ManagementSystem.html';
                } else if (msg == 905) {
                    alert("非法访问!");
                    location.href = 'home.html';
                } else if (msg == 906) {
                    alert("已安全退出!");
                    location.href = 'home.html';
                } else if (msg == 907) {
                    //验证合格
                    // location.href='GMLogin.html';
                } else if (msg == 908) {
                    alert("已成功修改！");
                } else if (msg == 909) {
                    alert("密码不可为空！");
                } else if (msg == 910) {
                    alert("新密码不一致！");
                } else if (msg == 911) {
                    alert("密码不符合要求！");
                } else if (msg == 912) {
                    alert("不可以与原密码相同！");
                } else if (msg == 913) {
                    alert("新密码不可以使用曾今使用过的密码！");
                } else if (msg == 914) {
                    alert("密码修改失败！");
                } else if (msg == 915) {
                    alert("密码修改成功！");
                    //清空密码框
                    $("#teacherOldPassword").val('');
                    $("#teacherNewPassword").val('');
                    $("#teacherNewPasswordR").val('');
                } else if (msg == 916) {
                    alert("空！");
                } else if (msg == 103) {
                    alert("账号已退出!");
                    location.href = 'home.html';
                } else if (msg == 917) {
                    alert("原密码错误!");
                } else if (msg == 918) {
                    alert("信息修改成功!");
                } else {
                    alert("未知错误!" + msg);
                }
            }
        }

        function suggestionsStatHandler() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                document.getElementById("v-pills-suggestion").innerHTML = xmlHttp.responseText;
            } else {
                alert("加载失败!");
            }

        }

        //添加课程
        function add_course() {
            window.open('courseManagement.html');
        }

        //编辑或修改课程
        function change_course(courseId) {
            window.open("courseManagement.html?courseId=" + courseId);
        }

        //添加课程测试卷
        function add_course_test() {
            //在此之前判断该教师是否已发布过课程
            $.ajax({
                url: url+'/checkTeacherCourse',
                type: 'post',
                dataType: 'json',
                success: function (json) {
                    if(json.total>0){
                        window.open('course_test.html');
                    }else{
                        alert("你还未发布过课程或无正常状态的课程，请添加课程或将课程状态恢复!");
                    }

                },
                complete: function(XMLHttpRequest, textStatus) {
                },
                error: function (err) {
                    alert("添加课程时出错!");
                }
            });

        }

        //编辑或修改测试卷
        function change_test(testId, courseId) {
            window.open("course_test.html?testId=" + testId);
        }

        //添加课程资源
        function add_course_resources() {
            //在此之前判断该教师是否已发布过课程
            $.ajax({
                url: url+'/checkTeacherCourse',
                type: 'post',
                dataType: 'json',
                success: function (json) {
                    if(json.total>0){
                        window.open('course_resource.html');
                    }else{
                        alert("你还未发布过课程或无正常状态的课程，请添加课程或将课程状态恢复!");
                    }

                },
                complete: function(XMLHttpRequest, textStatus) {
                },
                error: function (err) {
                    alert("添加课程时出错!");
                }
            });

        }

    </script>
</head>
<body>
<!--主体部分-->
<div class="container" style="padding-left:0px;max-width:1800px;padding-right:0px;margin-bottom: 16px">
    <div class="alert alert-info" role="alert" style="width:100%;margin-bottom: 16px;elevation: deg;font-weight: bold">
        <span>学思网-教师个人中心</span>
    </div>
    <div class="row">
        <div class="col-1">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                   href="#v-pills-home" role="tab" aria-controls="home" style="font-weight: bold">教师信息</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                   href="#v-pills-changeTeacherPassword" role="tab" aria-controls="profile" style="font-weight: bold">修改密码</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                   href="#v-pills-course" role="tab" aria-controls="messages" style="font-weight: bold"
                   onclick="course();">课程管理</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                   href="#v-pills-test" role="tab" aria-controls="settings" style="font-weight: bold"
                   onclick="test();">题库管理</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                   href="#v-pills-curriculum-resource" role="tab" aria-controls="settings" style="font-weight: bold"
                   onclick="resource();">资源管理</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#"
                   role="tab" aria-controls="settings" style="font-weight: bold"
                   onclick="teacher_exit_xuesi()">安全退出</a>
            </div>
        </div>
        <div class="col-11">
            <div class="tab-content" id="v-pills-tabContent">
                <!--教师个人信息-->
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <form method="post" id="teacher_message">

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Id</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="teacherId"
                                       placeholder="你还未登录！">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="teacherName"
                                       placeholder="你还未登录！">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">任职学院</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="userEmail" id="teachersSchool"
                                       placeholder="未知" style="border: 0px;padding-left: 0px">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">电话号码</label>
                            <div class="col-sm-10">

                                <input type="tel" class="form-control" name="userTel" id="teacherTel"
                                       placeholder="请补充你的电话号码"
                                       style="border: 0px;padding-left: 0px">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">个人邮箱</label>
                            <div class="col-sm-10">
                                <input type="email" readonly class="form-control-plaintext" id="teacherEmail"
                                       placeholder="未知">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">教师资格证</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="teacherQualification"
                                       placeholder="未知">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">学院邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="teachersSchoolEmail"
                                       placeholder="未知">
                            </div>
                        </div>

                        <hr>
                        <input class="btn btn-primary" type="button" onclick="save_teacher_changes();" value="保存修改">
                    </form>
                </div>
                <!--密码修改-->
                <div class="tab-pane fade" id="v-pills-changeTeacherPassword" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab">
                    <form method="post" id="change_password_form">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">原密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="teacherOldPassword"
                                       id="teacherOldPassword"
                                       placeholder="输入你的密码"
                                       style="border: 0px;padding-left: 0px">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">新密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="teacherNewPassword"
                                       id="teacherNewPassword"
                                       placeholder="6-12位的字母或数字"
                                       style="border: 0px;padding-left: 0px">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">确认新密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="teacherNewPasswordR"
                                       id="teacherNewPasswordR"
                                       placeholder="请再输入一次新密码"
                                       style="border: 0px;padding-left: 0px">
                            </div>
                        </div>
                        <hr>
                        <input class="btn btn-primary" type="button" onclick="save_teacher_change_password();"
                               value="保存修改">
                    </form>
                </div>

                <!--课程管理-->
                <div class="tab-pane fade" id="v-pills-course" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="container">

                        <div class="input-group mb-3 align-self-center">
                            <button type="button" onclick="add_course();" class="btn btn-success">添加课程
                            </button>
                        </div>
                    </div>
                    <br>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">课程名</th>
                            <th scope="col">课程类别</th>
                            <th scope="col">课程状态</th>
                            <th scope="col" style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody id="course-list">

                        </tbody>
                    </table>
                    <hr>
                    <div id="course-pagecount"></div>
                </div>

                <!--题库管理-->
                <div class="tab-pane fade" id="v-pills-test" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="container">

                        <div class="input-group mb-3 align-self-center">
                            <button type="button" onclick="add_course_test();" class="btn btn-success">编辑新的测试卷
                            </button>
                        </div>
                    </div>
                    <br>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">测试卷id</th>
                            <th scope="col">测试卷名称</th>
                            <th scope="col">课程id</th>
                            <th scope="col">测试卷状态</th>
                            <th scope="col" style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody id="test-list">

                        </tbody>
                    </table>
                    <hr>
                    <div id="test-pagecount"></div>
                </div>

                <!--课程资源管理-->
                <div class="tab-pane fade" id="v-pills-curriculum-resource" role="tabpanel"
                     aria-labelledby="v-pills-messages-tab">
                    <div class="container">

                        <div class="input-group mb-3 align-self-center">
                            <button type="button" onclick="add_course_resources();" class="btn btn-success">添加课程资源
                            </button>
                        </div>
                    </div>
                    <br>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">资源id</th>
                            <th scope="col">资源名称</th>
                            <th scope="col">课程id</th>
                            <th scope="col">资源状态</th>
                            <th scope="col" style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody id="resource-list">

                        </tbody>
                    </table>
                    <hr>
                    <div id="resource-pagecount"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
	var pathArray = window.location.pathname.split('/');
	var secondLevelLocation = pathArray[1];
	var url = window.location.protocol + "//" + window.location.host
			+ "/" + secondLevelLocation;
    $(function () {
        // 页面加载完后立即自动执行
        // 判断是否已登录
        $.ajax({
            url: url+'/getTeacherMessage',
            type: 'post',
            dataType: 'json',
            success: function (response) {
            	if(response.state){
	                $("#teacherId").val(response.teacherId);
	                $("#teacherName").val(response.teacherName);
	                $("#teachersSchool").val(response.teachersSchool);
	                $("#teacherTel").val(response.teacherTel);
	                $("#teacherEmail").val(response.teacherEmail);
	                $("#teacherQualification").val(response.teacherQualification);
	                $("#teachersSchoolEmail").val(response.teachersSchoolEmail);              		
            	}else{
             		alert("非法进入!");
                	window.open("home.html", "_self").close();         		
            	}
            },
            error: function (err) {
                alert("错误");
            }
        });
    });
</script>
</html>