<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>这是 test.html</h3>
<p th:text="${scope1}"></p>
<h5>******</h5>
<p th:text="${session.session1}"></p>
<h5>***</h5>
<p th:text="${application.application1}"></p>
<table border="1" id="table1">
    <tbody>
    <tr>
        <th colspan="8">User Info</th>
    </tr>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>age</th>
        <th>hobby</th>
        <th>sex</th>
        <th>password</th>
        <th>options</th>
    </tr>
    <tr th:each="user:${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.hobbys}"></td>
        <td th:text="${user.sex}"></td>
        <td th:text="${user.password}"></td>
        <td>
            <a @click="deleteUser" th:href="@{/user/}+${user.id}">delete</a>
            <a @click="deleteUser" th:href="@{'/user/'+${user.id}}">delete</a>
            <a th:href="@{/updateUser/}+${user.id}">update</a>
        </td>
    </tr>
    </tbody>
</table>
<form id="deleteForm1" method="post">
    <input type="hidden" name="_method" value="delete">
</form>
<script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
<script type="text/javascript">
    var vue=new Vue({
        el:"#table1",
        methods:{
            deleteUser:function (event){
                var deleteForm1=document.getElementById("deleteForm1");
                deleteForm1.action=event.target.href;
                deleteForm1.submit();
                event.preventDefault(); // 取消超链接的默认行为
            }
        }
    })
</script>
</body>
</html>