<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>JavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>com.ding.ServletDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo2</servlet-name>
    <servlet-class>com.ding.ServletDemo2</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo3</servlet-name>
    <servlet-class>com.ding.ServletDemo3</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>Tom</param-value>
    </init-param>
    <init-param>
      <param-name>age</param-name>
      <param-value>12</param-value>
    </init-param>
    <init-param>
      <param-name>char</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo4Context</servlet-name>
    <servlet-class>com.ding.ServletDemo4Context</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo4</servlet-name>
    <servlet-class>com.ding.ServletDemo4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo5Forward</servlet-name>
    <servlet-class>com.ding.ServletDemo5Forward</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo5</servlet-name>
    <servlet-class>com.ding.ServletDemo5</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo6</servlet-name>
    <servlet-class>com.ding.ServletDemo6</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Default</servlet-name>
    <servlet-class>com.ding.Default</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo2</servlet-name>
    <url-pattern>/servlet/ServletDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo2</servlet-name>
    <url-pattern>/SD2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo3</servlet-name>
    <url-pattern>/SD3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo4Context</servlet-name>
    <url-pattern>/SD4C</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo4</servlet-name>
    <url-pattern>/SD4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo5Forward</servlet-name>
    <url-pattern>/SD5F</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo5</servlet-name>
    <url-pattern>/SD5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo6</servlet-name>
    <url-pattern>/SD6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Default</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/ding</param-value>
  </context-param>
</web-app>