<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.office.mapper.ChineseChessMapper">
    <resultMap id="resultMap" type="com.ding.office.entity.ChineseChess">
    </resultMap>
    <resultMap id="resultMapInfo" type="com.ding.office.info.ChineseChessInfo">
        <association property="name" column="name"/>
        <association property="roomOwner" column="roomOwner" select="com.ding.office.mapper.UserMapper.findBriefInfoById"/>
        <association property="rival" column="rival" select="com.ding.office.mapper.UserMapper.findBriefInfoById"/>
        <association property="winner" column="winner" select="com.ding.office.mapper.UserMapper.findBriefInfoById"/>
        <association property="type" column="type" select="com.ding.office.mapper.DictionaryMapper.findById"/>
    </resultMap>
    <select id="searchChineseChess" resultMap="resultMapInfo">
        select * from chinese_chess
        <where>
            <if test="chineseChessVo.name != null">
                and name = #{chineseChessVo.name}
            </if>
            <if test="chineseChessVo.user != null">
                and (roomOwner = #{chineseChessVo.user}
                or rival = #{chineseChessVo.user})
            </if>
            <if test="chineseChessVo.roomOwner != null">
                and roomOwner = #{chineseChessVo.roomOwner}
            </if>
            <if test="chineseChessVo.rival != null">
                and rival = #{chineseChessVo.rival}
            </if>
            <if test="chineseChessVo.type != null">
                and type = #{chineseChessVo.type}
            </if>
        </where>
        ORDER BY createTime desc
        <if test="page!=null and page.currentPage!=null and page.currentPage!=0 and page.size!=null and page.size!=0">
            <bind name="start" value="(page.currentPage-1)*page.size"/>
            limit #{start},#{page.size}
        </if>
    </select>
    <select id="searchChineseChessOfPage" resultType="java.lang.Integer">
        select count(1) from chinese_chess
        <where>
            <if test="chineseChessVo.name != null">
                and name = #{chineseChessVo.name}
            </if>
            <if test="chineseChessVo.user != null">
                and (roomOwner = #{chineseChessVo.user}
                or rival = #{chineseChessVo.user})
            </if>
            <if test="chineseChessVo.roomOwner != null">
                and roomOwner = #{chineseChessVo.roomOwner}
            </if>
            <if test="chineseChessVo.rival != null">
                and rival = #{chineseChessVo.rival}
            </if>
            <if test="chineseChessVo.type != null">
                and type = #{chineseChessVo.type}
            </if>
        </where>
        ORDER BY createTime desc
    </select>
    <select id="findById" resultMap="resultMapInfo">
        select * from chinese_chess
        where id=#{id};
    </select>
    <select id="getBattleInfo" resultMap="resultMapInfo">
        select * from chinese_chess cc1
        where cc1.roomOwner=#{userId}
        union
        select * from chinese_chess cc2
        where cc2.rival=#{userId};
    </select>
    <insert id="add" parameterType="com.ding.office.vo.BlogVo" useGeneratedKeys="true" keyProperty="id">
        insert into chinese_chess(name,roomOwner,rival,roomOwnerSkill,rivalSkill,note)
        values(#{chineseChessVo.name},#{chineseChessVo.roomOwner},#{chineseChessVo.rival},#{chineseChessVo.roomOwnerSkill},#{chineseChessVo.rivalSkill},#{chineseChessVo.note})
    </insert>
    <update id="settlement">
        update chinese_chess set winner=#{chineseChessVo.winner},type=#{chineseChessVo.type}
        where id=#{chineseChessVo.id}
    </update>
</mapper>