<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.office.mapper.GameRolePopularityMapper">
    <resultMap id="resultMap" type="com.ding.office.entity.GameRolePopularity">
        <id column="id" property="id"/>

        <id column="user" property="user"/>
        <id column="type" property="type"/>
        <id column="gameRole" property="gameRole"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
    </resultMap>
    <resultMap id="resultInfoMap" type="com.ding.office.info.GameRolePopularityInfo">
        <id column="id" property="id"/>
        <id column="createTime" property="createTime"/>
        <id column="gameRole" property="gameRoleId"/>
        <id column="note" property="note"/>
        <id column="total" property="total"/>
        <association property="gameRole" column="gameRole" select="com.ding.office.mapper.GameRoleMapper.findById"/>
        <association property="user" column="user" select="com.ding.office.mapper.UserMapper.findById"/>
        <association property="type" column="type" select="com.ding.office.mapper.DictionaryMapper.findById"/>
    </resultMap>
    <insert id="add">
        insert into game_role_popularity(gameRole,type,user,note)
        values(#{gameRolePopularityVo.gameRoleId},#{gameRolePopularityVo.type},#{gameRolePopularityVo.userId},#{gameRolePopularityVo.note})
    </insert>
    <select id="findByGameRoleId" resultMap="resultInfoMap">
        select * from game_role_popularity
        where gameRole = #{gameRolePopularityVo.gameRoleId}
        and user = #{gameRolePopularityVo.userId}
    </select>
    <delete id="delete">
        delete from game_role_popularity
        where gameRole = #{gameRolePopularityVo.gameRoleId} and user =  #{gameRolePopularityVo.userId}
    </delete>
    <select id="searchGameRolePopularity" resultMap="resultInfoMap">
        SELECT gameRole,count(*) as total from game_role_popularity
        where type = #{popularityType}
        group by gameRole
        ORDER BY total desc
        limit 0,10;
    </select>
</mapper>