<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.hyld.mapper.EmailCodeMapper">
    <resultMap id="resultMap" type="com.ding.hyld.entity.EmailCode">
        <id column="id" property="id"/>

        <id column="userId" property="userId"/>
        <id column="ip" property="ip"/>
        <id column="address" property="address"/>
        <id column="code" property="code"/>
        <id column="email" property="email"/>
        <id column="subject" property="subject"/>
        <id column="text" property="text"/>
        <id column="fingerprint" property="fingerprint"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
    </resultMap>
    <resultMap id="resultInfoMap" type="com.ding.hyld.info.EmailCodeInfo">
        <id column="id" property="id"/>

        <id column="ip" property="ip"/>
        <id column="address" property="address"/>
        <id column="code" property="code"/>
        <id column="email" property="email"/>
        <id column="subject" property="subject"/>
        <id column="text" property="text"/>
        <id column="fingerprint" property="fingerprint"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>

        <association property="user" column="userId" select="com.ding.hyld.mapper.UserMapper.findById"/>
    </resultMap>
    <select id="searchEmailCode" resultMap="resultInfoMap">
        select * from email_code
        <where>
            <if test="emailCodeVo.userId != null">
                and userId = #{emailCodeVo.userId}
            </if>
            <if test="emailCodeVo.address != null and emailCodeVo.address.trim() != ''">
                and address like concat('%',#{emailCodeVo.address},'%')
            </if>
            <if test="emailCodeVo.userName != null and emailCodeVo.userName.trim() != ''">
                and exists (select 1 from user u where userId = u.id and u.name like concat('%',#{emailCodeVo.userName},'%'))
            </if>
            <if test="emailCodeVo.note != null and emailCodeVo.note.trim() != ''">
                and note like concat('%',#{emailCodeVo.note},'%')
            </if>
        </where>
        ORDER BY createTime desc
        <if test="page!=null and page.currentPage!=null and page.currentPage!=0 and page.size!=null and page.size!=0">
            <bind name="start" value="(page.currentPage-1)*page.size"/>
            limit #{start},#{page.size}
        </if>
    </select>
    <insert id="add">
        insert into email_code(ip,address,fingerprint,userId,note,code,email,subject,text)
        values(#{emailCodeVo.ip},#{emailCodeVo.address},#{emailCodeVo.fingerprint},#{emailCodeVo.userId},#{emailCodeVo.note},#{emailCodeVo.code},#{emailCodeVo.email},#{emailCodeVo.subject},#{emailCodeVo.text})
    </insert>
    <select id="findBy" resultMap="resultInfoMap">
        select * from email_code
        <where>
            <if test="emailCodeVo.userId!=null">
                and userId = #{emailCodeVo.userId}
            </if>
            <if test="emailCodeVo.code!=null and emailCodeVo.code.trim()!=''">
                and code = #{emailCodeVo.code}
            </if>
            <if test="emailCodeVo.email!=null and emailCodeVo.email.trim()!=''">
                and email = #{emailCodeVo.email}
            </if>
            <if test="emailCodeVo.start!=null and emailCodeVo.start.trim()!=''">
                and createTime > #{emailCodeVo.start}
            </if>
        </where>
        order by createTime desc
    </select>
</mapper>