<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.hyld.mapper.GearMapper">
    <resultMap id="resultMap" type="com.ding.hyld.entity.Gear">
        <id column="id" property="id"/>

        <id column="name" property="name"/>
        <id column="oneLevelImg" property="oneLevelImg"/>
        <id column="twoLevelImg" property="twoLevelImg"/>
        <id column="threeLevelImg" property="threeLevelImg"/>
        <id column="details" property="details"/>
        <id column="rarity" property="rarity"/>
        <id column="launchTime" property="launchTime"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
    </resultMap>
    <resultMap id="resultInfoMap" type="com.ding.hyld.info.GearInfo">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="oneLevelImg" property="oneLevelImg"/>
        <id column="twoLevelImg" property="twoLevelImg"/>
        <id column="threeLevelImg" property="threeLevelImg"/>
        <id column="details" property="details"/>
        <id column="launchTime" property="launchTime"/>
        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
        <association property="rarity" column="rarity" select="com.ding.hyld.mapper.DictionaryMapper.findById"/>
    </resultMap>
    <select id="searchGear" resultMap="resultInfoMap">
        select * from gear
        <where>
            <if test="gearVo.name != null and gearVo.name.trim() != ''">
                and name like concat('%',#{gearVo.name},'%')
            </if>
        </where>
        ORDER BY launchTime desc,rarity desc
        <if test="page!=null and page.currentPage!=null and page.currentPage!=0 and page.size!=null and page.size!=0">
            <bind name="start" value="(page.currentPage-1)*page.size"/>
            limit #{start},#{page.size}
        </if>
    </select>
    <select id="searchGearOfPage" resultType="java.lang.Integer">
        select count(1) from gear
        <where>
            <if test="gearVo.name != null and gearVo.name.trim() != ''">
                and name like concat('%',#{gearVo.name},'%')
            </if>
        </where>
    </select>
    <insert id="add">
        insert into gear(name,details,launchTime,note,oneLevelImg,twoLevelImg,threeLevelImg,rarity)
        values(#{gearVo.name},
               #{gearVo.details},
               #{gearVo.launchTime},
               #{gearVo.note},
               #{gearVo.oneLevelImg},
               #{gearVo.twoLevelImg},
               #{gearVo.threeLevelImg},
               #{gearVo.rarity})
    </insert>
    <update id="update">
        update gear
        set name = #{gearVo.name},
            oneLevelImg = #{gearVo.oneLevelImg},
            twoLevelImg = #{gearVo.twoLevelImg},
            threeLevelImg = #{gearVo.threeLevelImg},
            details = #{gearVo.details},
            launchTime = #{gearVo.launchTime},
            rarity = #{gearVo.rarity},
            note = #{gearVo.note}
        where id = #{gearVo.id}
    </update>
</mapper>