<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.hyld.mapper.MenuMapper">
    <resultMap id="resultMap" type="com.ding.hyld.entity.Menu">
        <id column="id" property="id"/>

        <id column="name" property="name"/>
        <id column="type" property="type"/>
        <id column="mark" property="mark"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
    </resultMap>
    <resultMap id="resultInfoMap" type="com.ding.hyld.info.MenuInfo">
        <id column="id" property="id"/>

        <id column="name" property="name"/>
        <id column="parentId" property="parentId"/>
        <id column="mark" property="mark"/>
        <id column="have" property="have"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>

        <association property="type" column="type" select="com.ding.hyld.mapper.DictionaryMapper.findById"/>
    </resultMap>
    <select id="getAllMenu" resultMap="resultInfoMap">
        select * from menu
    </select>
    <insert id="addMenu">
        insert into menu(name,parentId,type,mark,note)
        values (#{menuVo.name},#{menuVo.parentId},#{menuVo.type},#{menuVo.mark},#{menuVo.note})
    </insert>
    <update id="updateMenu">
        update menu set name=#{menuVo.name},mark=#{menuVo.mark},type=#{menuVo.type},note=#{menuVo.note}
        where id = #{menuVo.id}
    </update>
    <select id="getRoleMenuTree" resultMap="resultInfoMap">
        select
            m.id,
            m.name,
            m.mark,
            m.type,
            m.note,
            m.parentId,
            m.createTime,
            if(find_in_set(m.id,(select r.power from role r where r.id = #{roleId})),true ,false ) as have
        from menu m;
    </select>
    <select id="getCurrentUserPower" resultType="java.lang.String">
        select m.mark from menu m
        where m.id in
            <foreach collection="powerArray" index="index" item="item" open="(" separator="," close=")">
              #{item}
            </foreach>
    </select>
    <delete id="deleteMenu">
        delete from menu where id = #{menuVo.id}
    </delete>
</mapper>