<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.hyld.mapper.MusicLyricMapper">
    <resultMap id="resultMap" type="com.ding.hyld.entity.MusicLyric">
        <id column="id" property="id"/>

        <id column="number" property="number"/>
        <id column="minutes" property="minutes"/>
        <id column="second" property="second"/>
        <id column="text" property="text"/>
        <id column="color" property="color"/>
        <id column="status" property="status"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
    </resultMap>
    <resultMap id="resultInfoMap" type="com.ding.hyld.info.MusicLyricInfo">
        <id column="id" property="id"/>

        <id column="number" property="number"/>
        <id column="minutes" property="minutes"/>
        <id column="second" property="second"/>
        <id column="text" property="text"/>
        <id column="color" property="color"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>

        <association column="status" property="status" select="com.ding.hyld.mapper.DictionaryMapper.findById"/>
    </resultMap>
    <insert id="add">
        insert into
            music_lyric(music,number,minutes,second,text,color,status,note)
        values(#{musicLyricVo.music},
               #{musicLyricVo.number},
               #{musicLyricVo.minutes},
               #{musicLyricVo.second},
               #{musicLyricVo.text},
               #{musicLyricVo.color},
               #{musicLyricVo.status},
               #{musicLyricVo.note})
    </insert>
    <select id="findByMusicId" resultMap="resultInfoMap">
        select * from music_lyric
        where music = #{id}
        and status = 3200
        order by number
    </select>
    <select id="searchMusicLyric" resultMap="resultInfoMap">
        select * from music_lyric
        <where>
            <if test="musicLyricVo.id != null">
                and id = #{musicLyricVo.id}
            </if>
            <if test="musicLyricVo.music != null">
                and music = #{musicLyricVo.music}
            </if>
        </where>
        order by number,createTime
        <if test="page!=null and page.currentPage!=null and page.currentPage!=0 and page.size!=null and page.size!=0">
            <bind name="start" value="(page.currentPage-1)*page.size"/>
            limit #{start},#{page.size}
        </if>
    </select>
    <select id="searchMusicLyricOfPage" resultType="java.lang.Integer">
        select count(1) from music_lyric
        <where>
            <if test="musicLyricVo.id != null">
                and id = #{musicLyricVo.id}
            </if>
            <if test="musicLyricVo.music != null">
                and music = #{musicLyricVo.music}
            </if>
        </where>
        order by number,createTime
    </select>
    <update id="delete">
        update music_lyric
        set status = #{musicLyricVo.status}
        where id = #{musicLyricVo.id}
    </update>
    <update id="update">
        update music_lyric
        set status = #{musicLyricVo.status},
            number = #{musicLyricVo.number},
            minutes = #{musicLyricVo.minutes},
            second = #{musicLyricVo.second},
            text = #{musicLyricVo.text},
            color = #{musicLyricVo.color},
            status = #{musicLyricVo.status},
            note = #{musicLyricVo.note}
        where id = #{musicLyricVo.id}
    </update>
</mapper>