<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.hyld.mapper.MusicMapper">
    <resultMap id="resultMap" type="com.ding.hyld.entity.Music">
        <id column="id" property="id"/>

        <id column="cover" property="cover"/>
        <id column="name" property="name"/>
        <id column="info" property="info"/>
        <id column="lyrics" property="lyrics"/>
        <id column="composing" property="composing"/>
        <id column="sing" property="sing"/>
        <id column="album" property="album"/>
        <id column="releaseTime" property="releaseTime"/>
        <id column="audio" property="audio"/>
        <id column="audioLink" property="audioLink"/>
        <id column="mv" property="mv"/>
        <id column="mvLink" property="mvLink"/>
        <id column="status" property="status"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
    </resultMap>
    <resultMap id="resultInfoMap" type="com.ding.hyld.info.MusicInfo">
        <id column="id" property="id"/>

        <id column="cover" property="cover"/>
        <id column="name" property="name"/>
        <id column="info" property="info"/>
        <id column="lyrics" property="lyrics"/>
        <id column="composing" property="composing"/>
        <id column="sing" property="sing"/>
        <id column="album" property="album"/>
        <id column="releaseTime" property="releaseTime"/>
        <id column="audio" property="audio"/>
        <id column="audioLink" property="audioLink"/>
        <id column="mv" property="mv"/>
        <id column="mvLink" property="mvLink"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>

        <association column="status" property="status" select="com.ding.hyld.mapper.DictionaryMapper.findById"/>
    </resultMap>
    <insert id="add">
        insert into
            music(cover,name,info,lyrics,composing,sing,album,releaseTime,audio,audioLink,mv,mvLink,note)
        values(#{musicVo.cover},
               #{musicVo.name},
               #{musicVo.info},
               #{musicVo.id},
               #{musicVo.lyrics},
               #{musicVo.sing},
               #{musicVo.album},
               #{musicVo.releaseTime},
               #{musicVo.audio},
               #{musicVo.audioLink},
               #{musicVo.mv},
               #{musicVo.mvLink},
               #{musicVo.note})
    </insert>
    <select id="searchMusic" resultMap="resultInfoMap">
        select * from music
        <where>
            <if test="musicVo.id != null">
                and id = #{musicVo.id}
            </if>
        </where>
    </select>
    <update id="delete">
        update music
        set status = #{musicVo.status}
        where id = #{musicVo.id}
    </update>
</mapper>