<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.hyld.mapper.PointerMapper">
    <resultMap id="resultMap" type="com.ding.hyld.entity.Pointer">
        <id column="id" property="id"/>

        <id column="text" property="text"/>
        <id column="replyText" property="replyText"/>
        <id column="ip" property="ip"/>
        <id column="address" property="address"/>
        <id column="userId" property="userId"/>
        <id column="status" property="status"/>
        <id column="replyTime" property="replyTime"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
    </resultMap>
    <resultMap id="resultInfoMap" type="com.ding.hyld.info.PointerInfo">
        <id column="id" property="id"/>
        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
        <id column="replyTime" property="replyTime"/>
        <id column="text" property="text"/>
        <id column="replyText" property="replyText"/>
        <id column="address" property="address"/>
        <association property="userInfo" column="userId" select="com.ding.hyld.mapper.UserMapper.findById"/>
        <association property="status" column="status" select="com.ding.hyld.mapper.DictionaryMapper.findById"/>
    </resultMap>
    <select id="searchPointer" resultMap="resultInfoMap">
        select * from pointer
        <where>
            <if test="pointerVo.status != null">
                and status = #{pointerVo.status}
            </if>
        </where>
        ORDER BY id desc
        <if test="page!=null and page.currentPage!=null and page.currentPage!=0 and page.size!=null and page.size!=0">
            <bind name="start" value="(page.currentPage-1)*page.size"/>
            limit #{start},#{page.size}
        </if>
    </select>
    <insert id="add">
        insert into pointer(text,ip,address,userId,status)
        values(#{pointerVo.text},#{pointerVo.ip},#{pointerVo.address},#{pointerVo.userId},#{pointerVo.status})
    </insert>
    <update id="reply">
        update pointer
        set replyText = #{pointerVo.replyText},replyTime = #{pointerVo.replyTime},note = #{pointerVo.note}
        where id = #{pointerVo.id}
    </update>
    <update id="updateStatus">
        update pointer
        set status = #{pointerVo.status}
        where id = #{pointerVo.id}
    </update>
</mapper>