<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.hyld.mapper.SuperSkillAttributeMapper">
    <resultMap id="resultMap" type="com.ding.hyld.entity.SuperSkillAttribute">
        <id column="id" property="id"/>

        <id column="name" property="name"/>
        <id column="gameRole" property="gameRole"/>
        <id column="details" property="details"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
    </resultMap>
    <resultMap id="resultInfoMap" type="com.ding.hyld.info.SuperSkillAttributeInfo">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="details" property="details"/>
        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
        <association property="superSkill" column="superSkill" select="com.ding.hyld.mapper.SuperSkillMapper.findById"/>
    </resultMap>
    <resultMap id="pithyResultInfoMap" type="com.ding.hyld.info.SuperSkillAttributeInfo">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="details" property="details"/>
        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
    </resultMap>
    <select id="searchSuperSkillAttribute" resultMap="resultInfoMap">
        select * from super_skill_attribute
        <where>
            <if test="superSkillAttributeVo.superSkillId != null">
                and superSkill = #{superSkillAttributeVo.superSkillId}
            </if>
        </where>
        ORDER BY id desc
        <if test="page!=null and page.currentPage!=null and page.currentPage!=0 and page.size!=null and page.size!=0">
            <bind name="start" value="(page.currentPage-1)*page.size"/>
            limit #{start},#{page.size}
        </if>
    </select>
    <insert id="add">
        insert into super_skill_attribute(superSkill,name,details,note)
        values(#{superSkillAttributeVo.superSkillId},#{superSkillAttributeVo.name},#{superSkillAttributeVo.details},#{superSkillAttributeVo.note})
    </insert>
    <update id="update">
        update super_skill_attribute
        set superSkill = #{superSkillAttributeVo.superSkillId},
            name = #{superSkillAttributeVo.name},
            details = #{superSkillAttributeVo.details},
            note = #{superSkillAttributeVo.note}
        where id = #{superSkillAttributeVo.id}
    </update>
    <delete id="delete">
        delete from super_skill_attribute
        where id = #{superSkillAttributeVo.id}
    </delete>
    <select id="findPithyInfoBySuperSkillId" resultMap="pithyResultInfoMap">
        select * from super_skill_attribute
        where superSkill = #{SuperSkillId}
    </select>
</mapper>