<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.hyld.mapper.UpdateLogMapper">
    <resultMap id="resultMap" type="com.ding.hyld.entity.UpdateLog">
        <id column="id" property="id"/>

        <id column="text" property="text"/>

        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
    </resultMap>
    <resultMap id="resultInfoMap" type="com.ding.hyld.info.UpdateLogInfo">
        <id column="id" property="id"/>
        <id column="text" property="text"/>
        <id column="createTime" property="createTime"/>
        <id column="note" property="note"/>
    </resultMap>
    <select id="searchUpdateLog" resultMap="resultInfoMap">
        select * from update_log
        <where>
            <if test="updateLogVo.text != null and updateLogVo.text.trim() != ''">
                and text like concat('%',#{updateLogVo.text},'%')
            </if>
        </where>
        ORDER BY id desc
        <if test="page!=null and page.currentPage!=null and page.currentPage!=0 and page.size!=null and page.size!=0">
            <bind name="start" value="(page.currentPage-1)*page.size"/>
            limit #{start},#{page.size}
        </if>
    </select>
    <insert id="add">
        insert into update_log(text,note)
        values(#{updateLogVo.text},#{updateLogVo.note})
    </insert>
    <update id="update">
        update update_log
        set text = #{updateLogVo.text},note = #{updateLogVo.note}
        where id = #{updateLogVo.id}
    </update>
</mapper>