<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanStu" class="com.springboot.bean.Student">
        <constructor-arg index="0" value="Sa"/>
        <constructor-arg index="1" value="33"/>
        <property name="name" value="Tim"/>
        <property name="age" value="11"/>
    </bean>

    <bean id="beanTea" class="com.springboot.bean.Teacher">
        <constructor-arg index="0" value="Sw"/>
        <constructor-arg index="1" value="12"/>
        <property name="name" value="Sd"/>
        <property name="phone" value="1234567"/>
    </bean>
</beans>